// _mixins.scss

@mixin icon-size($size) {
  display: inline-block;
  width: $size;
  height: $size;
  svg {
    width: 100% !important;
    height: 100% !important;
    color: currentColor !important;
  }
}
